# Токен бота от @BotFather
BOT_TOKEN=123456:ABC-DEF...


# Приветственное сообщение, которое видит клиент при открытии бота
WELCOME_TEXT=Напишите, какой именно товар вас интересует (можете добавить ссылку или скрин) Мы совсем скоро свяжемся с вами и ответим на все вопросы!

# Автоответ клиенту после его сообщения
AUTO_REPLY_TEXT=Спасибо за обращение! Мы вернёмся к вам, как только сможем 🤝

# Путь к файлу базы данных (можно оставить по умолчанию)
DB_PATH=bot.db
